 <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><strong>Service List:</strong></h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile blue">
                            <h3 class="title">{{ services_count }}</h3>
                            <p>Mode 1</p>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile blue">
                            <h3 class="title">Service 2</h3>
                            <p>Mode 2</p>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile blue">
                            <h3 class="title">Service 3</h3>
                            <p>Mode 3</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile blue">
                            <h3 class="title">Service 1</h3>
                            <p>Mode 1</p>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile blue">
                            <h3 class="title">Service 2</h3>
                            <p>Mode 2</p>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile" align="center">
                            <p><h1><b><span class="glyphicon glyphicon-plus"></span></h1></b></p>
                            </a>               
                        </div>  
                    </div>         
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><strong>Values:</strong></h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile green">
                            <h3 class="title">Value 1.1</h3>
                            <form action="/action_page.php">
                              <input type="file" name="pic" accept="image/*">
                              <input type="submit" style="color: black">
                            </form>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile green">
                            <h3 class="title">Value 1.2</h3>
                            <form action="/action_page.php">
                              <input type="file" name="pic" accept="image/*">
                              <input type="submit" style="color: black">
                            </form>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile green">
                            <h3 class="title">Value 1.3</h3>
                            <form action="/action_page.php">
                              <input type="file" name="pic" accept="image/*">
                              <input type="submit" style="color: black">
                            </form>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile green">
                            <h3 class="title">Value 1.4</h3>
                            <form action="/action_page.php">
                              <input type="file" name="pic" accept="image/*">
                              <input type="submit" style="color: black">
                            </form>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile green">
                            <h3 class="title">Value 1.5</h3>
                            <form action="/action_page.php">
                              <input type="file" name="pic" accept="image/*">
                              <input type="submit" style="color: black">
                            </form>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="http://www.ubh.com" class="tile" align="center">
                            <p><h1><b><span class="glyphicon glyphicon-plus"></span></h1></b></p>
                            </a>               
                        </div>  
                    </div>         
                </div>